<%= render 'user/layouts/nav' %>
<div class="container border border-primary rounded p-2">
    <div class="row">
        <div class="col-3 text-center">
            <div class="img-info">
                <% if @user.image.present?%>
                    <%= image_tag @user.image%>
                <% else %>
                    <img src="<%= image_url('bubble1.jpg') %>">
                <% end %>
            </div>
        </div>
        <div class="col-9 p-3">
            <h5>Email: <%= @user.email %></h5>
            <h5>Tên: <%= @user.name %></h5>
            <div class="row">
                <div class="col-6"><h5>Đã đăng <%=@posts.length%> bài viết</h5></div>
                <div class="col-6"><h5>Đã hoàn thành <%=@process.length%> bài học</h5></div>
            </div>
        </div>
    </div>
    <div>
        <a href="/user/users/edit"><button class="btn btn-primary">Cập nhật</button></a>
    </div>
    <hr/>
    <div>
        <h1>Bài viết</h1>
        <%= render :partial => 'user/layouts/posts', posts: @posts %>
    </div>

</div>